.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  pointer-events: none;
}

.LD-logo-header {
  padding: 20px;
  max-width: 90%;
}

.LD-logo {
  padding: 30px;
  max-width: 90%;
  max-height: 360px;
}

.heart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.customer-logo {
  padding: 5px;
  max-width: 95%;
  max-height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 7px;
  background-color: #FFFFFF;
}


.toggle-logo {
  height: 300px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-page {
  background-color: #000000;
}

.black-header {
  background-color: #282828ff;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(0, 0, 0);
}

.gray-app-header {
  background: rgb(158,158,158);
  background: linear-gradient(0deg, rgba(158,158,158,1) 14%, rgba(188,190,192,1) 58%, rgba(208,209,210,1) 81%);
  min-height: 100vh;
  min-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.purple-app-header {
  background: rgb(163,79,222);
  background: linear-gradient(0deg, rgba(163,79,222,1) 14%, rgba(175,113,219,1) 58%, rgba(185,143,215,1) 81%);
  min-height: 100vh;
  min-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blue-app-header {
  background: rgb(64,91,255);
  background: linear-gradient(0deg, rgba(64,91,255,1) 14%, rgba(112,132,255,1) 58%, rgba(102,123,255,1) 80%);
  min-height: 100vh;
  min-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.red-app-header {
  background: rgb(255,56,107);
  background: linear-gradient(0deg, rgba(255,56,107,1) 14%, rgba(240,86,125,1) 58%, rgba(210,104,131,1) 81%);
  min-height: 100vh;
  min-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.qr-wrapper {

  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
